body{
    /* background-color:rgb(15, 124, 183); */
    /* background-color: blue; */
    background-color: rgb(52, 52, 181);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:rgb(154, 154, 231);
    font-size: 25px;

}
.about-class{
    font-size:22px;
}
.body-container{
    background-color: navy;

    position:absolute;
    /* border: 5px solid black; */
    height: 70%;
    width: 80%;
    left: 10%;
    top:15%;
    border-radius: 5px;
    box-shadow: 9px 9px 1px 1px rgba(6, 6, 70, 0.2);
}
nav{
    /* border:5px solid green; */
    position:absolute;
    left:80%;
    width: 20%;
    margin:5px;

}
.text-image{
    display:flex;
    position: relative;
}
.text-image h2{
    /* position: absolute */
    margin-left: 40px;
}
img{
    border-radius: 50px;
    height:25px;
    width:25px;
    position:absolute;
    bottom:0;
    /* display:; */
    
    /* margin-bottom: 0; */
    border: 5px solid black
}
button{
    border:none;
    background:none;
    color:rgb(154, 154, 231);
    font-size: 15px;
}
button:hover{
    cursor: pointer;
    /* color:blue */
    color:rgb(111, 111, 215);
    box-shadow: 5px 5px 1px 1px rgba(6, 6, 70, 0.2);
}
.name{
    /* border: 5px solid white; */
    position: absolute;
    top: 0px;
    margin:5px;
    left:3%;
}
.body-text{
    position:absolute;
    /* border: 5px solid red; */
    top:21%;
    left:3%;
    height:58%;
}
.image-container{
    position:absolute;
    border:  rgb(52, 52, 181);
    top:20%;
    right:5%;
    height:20%;
    width:20%;
    border-style: dotted;
}
h3{
    margin-top: 0px;
    color:rgb(52, 52, 181);
}
h2{
    margin-bottom: 0px;
}
p{
    margin:0;
}
#button4{
    background-color: rgb(52, 52, 181);
    /* color:black; */
    margin-top:20px;
    width:90px;
    height: 35px;
    border-radius: 3px;
}
#button4:hover{
    /* background: none; */
    /* background-color: rgb(20, 20, 97); */
    background-color: rgb(28, 28, 179);
    color:rgb(154, 154, 231);
    border:1px solid rgb(154, 154, 231);
}
/* #button2::after {
    content: "";
    position: absolute;
    bottom: -5px; /* Adjust the position as needed */
    /* left: 9%;
    transform: translateX(-50%);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: rgb(52, 52, 181);
  } */ 
p{
    width:72%;
}
.icon-container{
    position:absolute;
    bottom:0;
    left:0;
}
a{
    color:rgb(154, 154, 231);
    display:inline-flex;
    /* border: 2px solid; */
    /* border-radius: 50%; */
    margin-right:10px;
    /* margin-top: 10px; */
}
a:hover{
    opacity:0.8;
}
/* #button1{
    color:rgb(111, 111, 215);  
} */
  
@media all and (max-width:1300px){
    p{
        font-size: 25px;
    }
    .body-container{
        position:absolute;
        top:5%;
        height: 90%;
    }
    .about-class{
        font-size:18px;
    }
    nav{
        position:absolute;
        left:auto;
        display:inline-flex;
    }
    
}
@media all and (max-width:700px){
    .body-text{
        position:absolute;
        height: 60%;
        top:20%;
    }
}

@media all and (max-width:500px){
    .body-text{
        position:absolute;
        height: 70%;
        top:15%;
    }
    .about-class{
        font-size:15px;
    }
}

@media all and (max-width:380px){
    .body-text{
        position:absolute;
        height: 83%;
        top:8.5%;
    }
    .about-class{
        font-size:14px;
    }
}